/* .App {
  height: 10
} */
.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mouse {
  --x: calc(var(--mouse-x) * 1px);
  --y: calc(var(--mouse-y) * 1px);
  position: absolute;
  border: 2px solid black;
  border-radius: 99999px;
  height: 50px;
  width: 50px;
  transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0);
}
